.App {
  text-align: center;
  background: pink;
}

.buttons{
  width: 10%;
}

.carousel{
 margin: 5px 30px;
}

.ons-swiper-target{
  margin: 0 -200px;
}

.carouselContainer{
  background: rgba(255, 255, 255, 0.3);
}

.page__background{
  background: pink;
}

.bottom-bar {
  position: fixed;
}
